.btn-remove {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: #ff2c2c;
  opacity: 1;
}

.btn-remove:hover {
  opacity: 0.9;
}

.my-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  letter-spacing: 1px;
  color: #45595b;
}

.my-search-input {
  border: none;
  flex-grow: 1;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

:has(> .my-search-input:focus) > i {
  color: #212121;
}

.my-size-tag {
  padding: 5px 8px;
  border: solid 1px var(--bs-secondary);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 150ms linear;
  background-color: whitesmoke;
  position: relative;
  user-select: none;
}

.my-size-tag:has(input[type="radio"]:not(:checked)):hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--bs-white);
}

.my-size-tag:has(input[type="radio"]:checked) {
  border-color: var(--bs-primary);
  background-color: #e0b8b835;
  /* color: var(--bs-secondary); */
}

.my-size-tag > input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.my-nav-underline::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.my-nav-underline {
  overflow: -moz-scrollbars-none; /* Hides the scrollbar */
}

.my-nav-underline > .nav-item:has(> .nav-link.active) {
  color: var(--bs-primary);
  border-bottom: solid var(--bs-primary) 2.5px;
}

.modal-dialog-right {
  position: absolute;
  right: 0;
  margin: 0;
  height: 100vh;
}

.modal-dialog-right .modal-content {
  height: 100%; /* Make the modal fill the viewport height */
  border-radius: 0; /* Remove border-radius for a seamless design */
}
